@import "../../styles/responsive.scss";
@import "../../styles/variablecolor.scss";

.shulin_cellpart_backend {
  width: 110%; /* 或者確保給容器一個合適的寬度 */
  padding-top: 29px;
  display: grid;
  position: relative;
  gap: 50px;
  background-color: #beb6cd;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: 1fr 1fr 1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-auto-rows: minmax(118px, auto);

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px; // 设置子元素之间的间距，可以调整这个值来控制距离
    flex-wrap: wrap; // 如果需要换行
  }

  .image {
    width: 350x;
    height: 250px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    display: flex inline-block;
  }

  .image:hover {
    transform: scale(1.2, 1.3);
    box-shadow: 10px 20px rgba(122, 34, 133, 0.2);
  }

  .title {
    position: relative;
    text-align: center;
    color: #1216a3;
    text-indent: 20%;
    white-space: nowrap;
    text-decoration: underline rgb(179, 245, 231);
  }

  .productvalue {
    text-align: center;
    color: #0b0b0b;
    display: block;
    text-indent: 1%;
    white-space: nowrap;
    overflow: auto;
  }

  .box {
    position: relative;
    padding: 10px;
    border: 10px solid $soft-bg;
    width: 65%;
    height: auto;
    background-color: #de9347;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(33, 23, 172, 0.1);

    .image {
      width: 90%; // 图片宽度为容器的100%
      height: 85%; // 图片高度为容器的100%
      object-fit: cover;
      padding-left: 10%;
      transition: transform 0.5s ease-in-out;
      display: block;
      object-fit: contain;
    }
  }

  .box1 {
    grid-column: span 1;
    grid-row: span 1;
    font-size: 50px;
    color: rgb(37, 33, 18);
    transform: translate(90%, 1%);
    text-align: center;
    height: max-content;
  }

  .box2 {
    grid-column: span 1;
    grid-row: span 1;
    color: rgb(37, 33, 18);
    font-size: 45px;
    text-align: center;
    padding-top: 1%;
    transform: translate(45%, 1%);
    height: max-content;
  }

  .box3 {
    grid-column: span 1;
    grid-row: span 1;
    font-size: 50px;
    color: rgb(37, 33, 18);
    text-align: center;
    padding-left: 5px;
    height: max-content;
    // // @include md {
    // //   display: none;
    // }
  }

  .box4 {
    grid-column: span 1;
    grid-row: span 1;
    color: rgb(37, 33, 18);
    font-size: 50px;
    text-align: center;
    padding-top: 1%;
    padding-left: 5px;
    transform: translate(-44%, 1%); /* 在其原始位置基礎上進行進一步調整 */
    height: max-content;
  }

  .box5 {
    grid-column: span 1;
    grid-row: span 1;
    color: rgb(37, 33, 18);
    font-size: 50px;
    text-align: center;
    padding-left: 10px;
    height: max-content;
    transform: translate(89%, 1%); /* 在其原始位置基礎上進行進一步調整 */
  }

  .box6 {
    grid-column: span 1;
    grid-row: span 1;
    color: rgb(37, 33, 18);
    font-size: 45px;
    height: max-content;
    text-align: center;
    position: relative;
    padding-left: 5px;
    max-width: 110%;
    transform: translate(47%, 1%); /* 在其原始位置基礎上進行進一步調整 */
    // text-decoration: underline wheat;
  }

  .box7 {
    grid-column: span 1;
    grid-row: span 1;
    color: rgb(210, 201, 170);
    font-size: 50px;
    text-align: center;
    padding-top: 1%;
  }

  .box8 {
    grid-column: span 1;
    grid-row: span 1;
    color: rgb(210, 201, 170);
    font-size: 50px;
    text-align: center;
    padding-top: 1%;
  }

  .box9 {
    grid-column: span 1;
    grid-row: span 1;
    color: rgb(210, 201, 170);
    font-size: 50px;
    text-align: center;
    padding-top: 1%;
    max-width: 1050px;
  }

  .box10 {
    grid-column: span 1;
    grid-row: span 1;
    color: rgb(210, 201, 170);
    font-size: 50px;
    text-align: center;
    padding-top: 1%;
    max-width: 1050px;
  }

  .span_shulintext {
    color: rgb(13, 69, 77);
    font-size: 90px;
    height: 130px;
    width: 100%;
    background-color: #d2bbbbc9;
    text-align: center;
    text-decoration: overline underline rgb(187, 138, 46);
    position: relative; //設為相對定位(relative) 因應解析度顯示
    padding-bottom: 10%;
    transform: translate(-500px, 515px); /* 在其原始位置基礎上進行進一步調整 */
  }
}
