* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
    font-size: 2.2rem;
    width: 100%;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: 'center';
    width: '100%';
    display: 'flex';
    justify-content: 'center'
}


.innerTitle {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.canBeChanged {
    background-color: rgb(246, 249, 214);
    border: 1px solid #000000;
    width: fit-content;
    height: fit-content;
    padding: 0px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}


.searchButton {
    background-color: #006aff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}


/* 預設的 3 欄佈局 */
.modal-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2rem;
  text-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.buttonInnerControl {
    width: 240px;
    font-size: 2rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px) {
  .modal-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .buttonInnerControl {
    width: 200px;
    overflow: wrap;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .modal-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
    .buttonInnerControl {
    width: 100%;
    overflow: wrap;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
  }
}

.adjust-screen {
  max-width: 1950px;   /* 想要多寬 */
  max-height: 1200px;
  width: 98%;
  height: 90%;
}

